* {
  margin: 0;
  padding: 0;
}

/* .container {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  margin-left: 20px;
}

.card {
  border: 2px solid black;
  max-width: 21vw;
}

nav, ul {
  display: flex;
  gap: 19px;
  padding: 12px;
  background-color: gray;
  color: white;
}

li {
  list-style: none;
} */